---
import FormattedDate from "@components/FormattedDate";
import { getCover } from "@data/live-cover-id";
import type { VideoData } from "@utils/types";

interface Props {
  link: string;
  data: Partial<VideoData>;
}

const { link, data } = Astro.props;
---

<a href={link}>
  <div class="w-full flex bg h-[90px]">
    <img
      src={data.cover || getCover(data.coverId)}
      class="w-[160px] object-cover"
      referrerpolicy="no-referrer"
    />
    <div class="p-2">
      <div class="text-base font-bold line-clamp-1">{data.title}</div>
      <div class="text-sm">
        <FormattedDate client:load date={data.date} format="YYYY-MM-DD" />
      </div>
    </div>
  </div>
</a>
