---
import LayoutContent from "@layouts/LayoutContent.astro";
import { getPageTitle } from "@utils/getPageTitle";
const title = "关于";
const PAGE_DESCRIPTION = "Minteea的个人小站";
---

<LayoutContent
  pageTitle={getPageTitle(title)}
  pageDescription={PAGE_DESCRIPTION}
>
  <h1>关于</h1>
</LayoutContent>
