---
import { postEntries } from "@utils/contentEntries";
import LayoutContent from "@layouts/LayoutContent.astro";
import ListCardBlog from "@components/content/ListCardBlog.astro";
import { getPageTitle } from "@utils/getPageTitle";
const title = "博客";
const PAGE_DESCRIPTION = "Minteea的个人博客";
---

<LayoutContent
  pageTitle={getPageTitle(title)}
  pageDescription={PAGE_DESCRIPTION}
>
  <h1>博客</h1>
  <ul class="flex flex-col gap-2">
    {
      postEntries.map(({ slug, data }) => (
        <li>
          <ListCardBlog link={`/post/${slug}`} data={data} />
        </li>
      ))
    }
  </ul>
</LayoutContent>
