---
import ListCardVideo from "@components/content/ListCardVideo.astro";
import LayoutContent from "@layouts/LayoutContent.astro";
import { videoEntries } from "@utils/contentEntries";
import { getPageTitle } from "@utils/getPageTitle";
const title = "创作";
const PAGE_DESCRIPTION = "Minteea的个人小站";
---

<LayoutContent
  pageTitle={getPageTitle(title)}
  pageDescription={PAGE_DESCRIPTION}
>
  <h1>创作</h1>
  <ul class="flex flex-col gap-2">
    {
      videoEntries.map(({ slug, data }) => (
        <li>
          <ListCardVideo link={`/video/${slug}`} data={data} />
        </li>
      ))
    }
  </ul>
</LayoutContent>
