---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import LayoutBase from "@layouts/LayoutBase.astro";
import { getPageTitle } from "@utils/getPageTitle";

const PAGE_DESCRIPTION = "Minteea的个人小站";
---

<LayoutBase pageTitle={getPageTitle()} pageDescription={PAGE_DESCRIPTION}>
  <Navbar transparent={true} class="mx-10" />
  <main class="mx-10">
    <h1>Under Construction | 建设中</h1>
  </main>
  <Footer transparent={true} class="mx-10" />
</LayoutBase>
