---
import LayoutContent from "@layouts/LayoutContent.astro";
import { getPageTitle } from "@utils/getPageTitle";

const title = "档案";
const PAGE_DESCRIPTION = "Minteea的个人小站";
---

<LayoutContent
  pageTitle={getPageTitle(title)}
  pageDescription={PAGE_DESCRIPTION}
>
  <h1>档案</h1>
</LayoutContent>
