---
import MinteeaLogo from "./MinteeaLogo.astro";

interface Props {
  transparent?: boolean;
  class?: string;
}

const { transparent, class: className = "" } = Astro.props;

const navList: { name: string; label: string; matches?: string[] }[] = [
  { name: "creation", label: "创作" },
  { name: "profile", label: "档案" },
  { name: "blog", label: "博客", matches: ["article", "post"] },
  { name: "tools", label: "小工具" },
  { name: "about", label: "关于" },
];

const currentPart = Astro.url.pathname.split("/")[1];
---

<nav class={`navbar ${transparent ? "" : "bg"}`}>
  <div class={"navbar-content " + className}>
    <div class="navbar-left">
      <div class="navbar-logo">
        <a href="/"><MinteeaLogo /></a>
      </div>
    </div>
    <div class="navbar-right">
      <ul class="navbar-list">
        {
          navList.map(({ name, label, matches }) => (
            <li
              class={
                currentPart == name || matches?.includes(currentPart)
                  ? "is-active"
                  : ""
              }
            >
              <a href={`/${name}`}>{label}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
<style is:global lang="scss">
  .navbar {
    --navbar-height: 40px;
  }
  .navbar-content {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      height: 100%;
    }
  }
  .navbar-logo {
    height: 100%;
    font-weight: bold;
    a {
      display: flex;
      height: 100%;
      line-height: var(--navbar-height);
      align-items: center;
    }
  }
  .navbar-list {
    height: 100%;
    display: flex;
    gap: 8px;
    li {
      height: 100%;
      a {
        display: block;
        height: 100%;
        line-height: var(--navbar-height);
      }
      &.is-active {
        font-weight: bold;
      }
    }
  }
  .minteea-logo {
    fill: black;
    height: 20px;
  }
</style>
