---
import "@styles/globals.css";

interface Props {
  pageTitle: string;
  pageDescription: string;
  class?: string;
}

const { pageTitle, pageDescription, class: className = "" } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content={pageDescription} />
    <link rel="icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
  </head>
  <body class={className}>
    <div id="container">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    height: 100%;
  }
  #container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
