---
import FormattedDate from "@components/FormattedDate";
import LayoutContent from "./LayoutContent.astro";
import { getPageTitle } from "@utils/getPageTitle";

interface Props {
  data: Record<string, any>;
}

const { data } = Astro.props;

const { title, description, date, updated } = data;
---

<LayoutContent
  pageTitle={`${getPageTitle(title)} - A cup of Minteea ðŸµ`}
  pageDescription={description}
>
  <main class="post-content content bg min-h-[200px] px-8 py-4">
    <header>
      <h1 class="mb-2">{title}</h1>
      <div class="text-sm">
        <FormattedDate
          client:load
          date={updated || date}
          format="YYYY-MM-DD HH:mm:ss"
        />
      </div>
    </header>
    <hr class="mt-2 mb-4" />
    <slot />
  </main>
</LayoutContent>
